.section-2 {
    max-width: 37.5rem;
    height: 20rem;
    margin: auto;
    margin-top: 5rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 8rem 8rem;
    gap: 10px;
}
.section-2 h2 {
    grid-row: 1/2;
    align-self: center;
}
.section-2 div {
    border: 1px solid black;
    border-radius: 5px;

    background-color: rgb(47, 245, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}